[submodule "build"]
	path = build
	url = https://github.com/crossplane/build
[submodule "reference/openapi-schema-rt"]
	path = reference/openapi-schema-rt
	url = https://github.com/n-at-han-k/openapi-schema-rt.git
